<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后台管理系统-abEEc</title>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/jquery.wysiwyg.old-school.css">
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../js/min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<link rel="stylesheet" href="../css/style2.css">
<script type="text/javascript" src="../Widget/swfupload/swfupload.js"></script>
<script type="text/javascript" src="../Widget/swfupload/swfupload.queue.js"></script>
<script type="text/javascript" src="../Widget/swfupload/swfupload.speed.js"></script>
<script type="text/javascript" src="../Widget/swfupload/handlers.js"></script>
<script src="http://cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
</head>
<body>

<!--     内容      -->
<div id="content" class="white" ng-app="dataEntryApp">
		<h1><img src="../images/posts.png" alt="">报备数据库管理</h1>
        <div class="bloc" ng-controller="dataEntryCtrl1">
                <input type="text" id="xlsId" name="xlsId"  style="display:none">
                <input type="text" id="xlsPath" name="xlsPath"  style="display:none">
				<div class="title"> 1-模板 <a class="toggle"></a></div>
				<div class="content dashboard" >
					<div class="center" style="display: block; width: auto;"> 
					        <a href="/pages/downloadFiles/IndiConfBatchImportTemplate.xls" target="_top"><font size="2" color="#5500FF" style="text-decoration:underline;">点击下载模板</font></a>
					</div>
				</div>
				<div class="title"> 2-上传清单 <a class="toggle"></a></div>
				<div class="content dashboard">
					<font color="red">注：所选文件必须是EXCEL格式,建议文件大小在5M以下.</font>
					</br>&nbsp;
				    <!--  <input ng-model="upload" type="file" id="upload" onkeydown="event.returnValue=false; " onpaste="return false" /> -->
				    <div class="demo l_f">
                                  <div class="logoupload">
                                   <div class="btnbox"><a id="uploadBtnHolder" class="uploadbtn" href="javascript:;">上传替换</a></div>
                                   <div style="clear:both;height:0;overflow:hidden;"></div>
                                   <div class="progress-box" style="display:none;">
                                     <div class="progress-num">上传进度：<b>0%</b></div>
                                     <div class="progress-bar"><div style="width:0%;" class="bar-line"></div></div>
                                   </div>
                                  </div>            
                                 </div>
				    <canvas id="xlsCanvas" width="1000" height="20" style="border:0px solid #d3d3d3;"></canvas>
				</div>
				<div class="title"> 3-导入报备库 <a class="toggle"></a></div>
				<div class="content dashboard">
				<button class="button" ng-click="entryadd();" id="entrybutton">点击开始导入</button>
				</div>
		</div>
		<div class="bloc" ng-controller="dataEntryCtrl2">
				<div class="title"> 报备数据库录入记录 </div>
				<div class="content">
						<table>
								<thead>
										<tr>
												<th>录入时间</th>
												<th>录入人员</th>
												<th>报备单位</th>
												<th>报备车型</th>
												<th>车架号</th>
												<th>操作</th>
										</tr>
								</thead>
								<tbody>
										<tr ng-repeat="prod in whcars">
										        <td>{{prod.inputtime}}</td>
										        <td>{{prod.carName}}</td>
										        <td>{{prod.inputtime}}</td>
												<td>{{prod.createrName}}</td>
												<td>{{prod.createrName}}</td>
												<td>
										          <a ng-click="goedit(prod.carId);" href="javascript:;" title="修改"><img src="../images/edit.png" alt=""></a>
										          <a ng-click="godel(prod.carId);" href="javascript:;" title="删除"><img src="../images/delete.png" alt=""></a>
										        </td>
										</tr>
										
								</tbody>
						</table>
						<div class="pagination"> <a href="http://www.grafikart.fr/demo/coreadmin/index.php?p=table#" class="prev">«</a> <a href="http://www.grafikart.fr/demo/coreadmin/index.php?p=table#">1</a> <a href="http://www.grafikart.fr/demo/coreadmin/index.php?p=table#" class="current">2</a> ... <a href="http://www.grafikart.fr/demo/coreadmin/index.php?p=table#">21</a> <a href="http://www.grafikart.fr/demo/coreadmin/index.php?p=table#">22</a> <a href="http://www.grafikart.fr/demo/coreadmin/index.php?p=table#" class="next">»</a> </div>
				</div>
		</div>
</div>
<br>
<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
</body><br>

</html>
<!-- 全局模型定义 -->
<script type="text/javascript">
angular.module('dataEntryApp', ['dataEntryApp1','dataEntryApp2']);
</script>
<!-- 导入功能 -->
<script type="text/javascript">
var dataEntryApp1 = angular.module("dataEntryApp1", []);
dataEntryApp1.controller('dataEntryCtrl1', function($scope, $http) {
alert("1");
	$scope.entryadd = function() {
	    var realPath = document.getElementById("xlsPath").value;
	    if(realPath!=null&&realPath!=""){
	       $http({url:'/warehouse/dataEntry.do',method:'get',params:{realPath:realPath}}).success(function(response){ 
	          if(response==""||response==null||response==undefined){
	    		 alert("错误");
	          }else{
		         alert("导入成功");
	    		 window.location.href = "dataEntry.html";
	          }
		   });
	    }else{
	       alert("请上传清单");
	    }
	}

});
</script>
<!-- 上传文件功能 -->
<script type="text/javascript">
function updateProgress(file) {
	$('.progress-box .progress-bar > div').css('width', parseInt(file.percentUploaded) + '%');
	$('.progress-box .progress-num > b').html(SWFUpload.speed.formatPercent(file.percentUploaded));
	if(parseInt(file.percentUploaded) == 100) {
		// 如果上传完成了
		$('.progress-box').hide();
	}
}

function initProgress() {
	$('.progress-box').show();
	$('.progress-box .progress-bar > div').css('width', '0%');
	$('.progress-box .progress-num > b').html('0%');
}

function successAction(fileInfo) {
	var up_path = fileInfo.path;
	var up_width = fileInfo.width;
	var up_height = fileInfo.height;
	var _up_width,_up_height;
	if(up_width > 120) {
		_up_width = 120;
		_up_height = _up_width*up_height/up_width;
	}
	$(".logobox .resizebox").css({width: _up_width, height: _up_height});
	$(".logobox .resizebox > img").attr('src', up_path);
	$(".logobox .resizebox > img").attr('width', _up_width);
	$(".logobox .resizebox > img").attr('height', _up_height);
}

var swfImageUpload;
$(document).ready(function() {
	var settings = {
		flash_url : "../Widget/swfupload/swfupload.swf",
		flash9_url : "../Widget/swfupload/swfupload_fp9.swf",
		upload_url: "./UpLoadFileServlet.action",// 接受上传的地址
		file_size_limit : "5MB",// 文件大小限制
		file_types : "*.xls;",// 限制文件类型
		file_types_description : "表格",// 说明，自己定义
		file_upload_limit : 100,
		file_queue_limit : 0,
		custom_settings : {},
		debug: false,
		// Button settings
		button_image_url: "../Widget/swfupload/upload-btn-n.png",
		button_width: "95",
		button_height: "30 ",
		button_placeholder_id: 'uploadBtnHolder',
		button_window_mode : SWFUpload.WINDOW_MODE.TRANSPARENT,
		button_cursor : SWFUpload.CURSOR.HAND,
		button_action: SWFUpload.BUTTON_ACTION.SELECT_FILE,
		
		moving_average_history_size: 40,
		
		// The event handler functions are defined in handlers.js
		swfupload_preload_handler : preLoad,
		swfupload_load_failed_handler : loadFailed,
		file_queued_handler : fileQueued,
		file_dialog_complete_handler: fileDialogComplete,
		upload_start_handler : function (file) {
			initProgress();
			updateProgress(file);
		},
		upload_progress_handler : function(file, bytesComplete, bytesTotal) {
			updateProgress(file);
		},
		upload_success_handler : function(file, data, response) {
			// 上传成功后处理函数
			//var fileInfo = eval("(" + data + ")");
			//successAction(fileInfo);
			if(data.indexOf("错误")!=-1){
				alert("错误信息:"+data);
			}else{
			    document.getElementById("xlsId").value = data;
				$.ajax({
			        type: "get",     
			        url: "/brand/findBrandImage.do",    
			        data: {
			        	brandPicture:data
			        }, 
			           dataType: "json",
			           success: function(res) {
			           		document.getElementById("xlsPath").value = res.filepath;
			                //alert("filepath:"+res.filepath);
			                var ctx=document.getElementById("xlsCanvas").getContext("2d");
					    	ctx.font="10px Arial";
					    	var filename = res.filepath.substring(res.filepath.lastIndexOf("/"),res.filepath.length);
					    	//alert(filename);
					    	ctx.clearRect(0,0,1000,20);
					    	ctx.fillText("上传成功："+filename,0,10);
			                //var up_path = res.filepath;
			           }
			    });
			}
		},
		upload_error_handler : function(file, errorCode, message) {
			alert('上传发生了错误！');
		},
		file_queue_error_handler : function(file, errorCode, message) {
			if(errorCode == -110) {
				alert('您选择的文件太大了。');	
			}
		}
	};
	swfImageUpload = new SWFUpload(settings);
});
</script>
<!-- 分页查询功能 -->
<script type="text/javascript">
var dataEntryApp2 = angular.module("dataEntryApp2", []);
dataEntryApp2.config(function($provide) {
	   $provide.provider('ProdQueryListService', function() {
	      this.$get = function() {
	    	  var factory = {};
	    	  factory.prodQueryList = function($scope, $http) {
	     		  $http.get("/warehouse/queryCars.do").success(
	    			    function (response) {
	  		    	        //数据源
	  		    	    	$scope.data = response.jsondata;
	  		    	    	//分页总数
	  		    	    	$scope.pageSize = 10;
	  		    	    	$scope.pages = Math.ceil($scope.data.length / $scope.pageSize); //分页数
	  		    	    	$scope.newPages = $scope.pages > 5 ? 5 : $scope.pages;
	  		    	    	$scope.pageList = [];
	  		    	    	$scope.selPage = 1;
	  		    	    	//设置表格数据源(分页)
	  		    	    	$scope.setData = function () {
	  		    	    	$scope.whcars = $scope.data.slice(($scope.pageSize * ($scope.selPage - 1)), ($scope.selPage * $scope.pageSize));//通过当前页数筛选出表格当前显示数据
	  		    	    	}
	  		    	    	$scope.whcars = $scope.data.slice(0, $scope.pageSize);
	  		    	    	//分页要repeat的数组
	  		    	    	for (var i = 0; i < $scope.newPages; i++) {
	  		    	    	$scope.pageList.push(i + 1);
	  		    	    	}
	  		    	    	//打印当前选中页索引
	  		    	    	$scope.selectPage = function (page) {
	  		    	    	//不能小于1大于最大
	  		    	    	if (page < 1 || page > $scope.pages) return;
	  		    	    	//最多显示分页数5
	  		    	    	if (page > 2) {
	  		    	    	//因为只显示5个页数，大于2页开始分页转换
	  		    	    	var newpageList = [];
	  		    	    	for (var i = (page - 3) ; i < ((page + 2) > $scope.pages ? $scope.pages : (page + 2)) ; i++) {
	  		    	    	newpageList.push(i + 1);
	  		    	    	}
	  		    	    	$scope.pageList = newpageList;
	  		    	    	}
	  		    	    	$scope.selPage = page;
	  		    	    	$scope.setData();
	  		    	    	$scope.isActivePage(page);
	  		    	    	console.log("选择的页：" + page);
	  		    	    	};
	  		    	    	//设置当前选中页样式
	  		    	    	$scope.isActivePage = function (page) {
	  		    	    	return $scope.selPage == page;
	  		    	    	};
	  		    	    	//上一页
	  		    	    	$scope.Previous = function () {
	  		    	    	$scope.selectPage($scope.selPage - 1);
	  		    	    	}
	  		    	    	//下一页
	  		    	    	$scope.Next = function () {
	  		    	    	$scope.selectPage($scope.selPage + 1);
	  		    	    	};
	  		    		}
	    		   );
	    	  }
	    	  return factory;
	      };
	   });
	});
//在 service 中注入 factory "ProdQueryListService"
dataEntryApp2.service('ProdService', function(ProdQueryListService){
   this.queryList = function($scope, $http) {
      return ProdQueryListService.prodQueryList($scope, $http);
   }
});	
dataEntryApp2.controller('dataEntryCtrl2', function($scope,ProdService,$http) {
   //初始化查询
	ProdService.queryList($scope, $http);
	$http.get("/warehouse/queryCarCeries.do").success(
		    function (response) {
		    	$scope.carseries = response.jsondata;
		        }
		    );
	//点击按钮查询
    $scope.queryList = function() {
    	ProdService.queryList($scope, $http);
    }
    $scope.goedit = function(carId) {
    	window.location.href = "carEdit.html?carId="+carId;
    }
	$scope.godel = function(carId) {
	    $http.get("/warehouse/delCar.do?carId="+carId).success(
				    function (res) {
				    	if(res==""||res==null||res==undefined){
				    		alert("error");
				    	}else{
				    		alert("车系删除成功");
				    		window.location.href = "car.html";
				    	}
				    }
		);
	}
    $scope.initcar = function(carserId) {
    	window.location.href = "car.html?carserId="+carserId;
    }
});
</script>