<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName" default-lazy-init="true">


	<tx:annotation-driven />

	<aop:aspectj-autoproxy />

	<aop:config proxy-target-class="true">
		<aop:advisor
			pointcut="execution(public * com.ysyl..*service..*Service*Impl.*(..))"
			advice-ref="txAdvice" />
	</aop:config>

	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="is*" read-only="true"
				propagation="SUPPORTS" />
			<tx:method name="get*" read-only="true"
				propagation="SUPPORTS" />
			<tx:method name="find*" read-only="true"
				propagation="SUPPORTS" />
			<tx:method name="list*" read-only="true"
				propagation="SUPPORTS" />
			<tx:method name="query*" read-only="true"
				propagation="SUPPORTS" />
			<tx:method name="load*" read-only="true"
				propagation="SUPPORTS" />			
			<tx:method name="check*" read-only="true"
				propagation="SUPPORTS" />	
			<tx:method name="translateCode*" read-only="true"
				propagation="SUPPORTS" />	
			<tx:method name="show*" read-only="true"
				propagation="SUPPORTS" />			
			<tx:method name="policyPublicPage*" read-only="true"
				propagation="SUPPORTS" />	
			<tx:method name="executeRules*" read-only="true"
				propagation="SUPPORTS" />

			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

</beans>
